<!-- Default form login -->
<form class="text-center border border-light p-5" action="/application/authenticate" method = POST>

    <p class="h4 mb-4">Login</p>

    <!-- Email -->
    <input type="text" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="Username" name = "display_name">

    <!-- Password -->
    <input type="password" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Password" name = "password">

    <!-- Sign in button -->
    <button class="btn btn-info btn-block my-4" type="submit">Sign in</button>

    <!-- Register -->
    <p>Not a member?
        <a href="/base/sign_up">Register</a>
    </p>

</form>
<!-- Default form login -->