<head>
  <title>Browse Users</title>
  <style>
    a{
       text-decoration: none;
    }
    .big{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 1em;
    }
    .menu{
        grid-column: 2;
        grid-row: 1;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        justify-items: stretch;
        align-items: center;
        text-align: center;
    }
    .one{
        border: 1px solid black;
        grid-column: 1;
        background-color: white;
    }
    .two{
        border: 1px solid black;
        grid-column: 2;
        background-color: lightblue;
    }
    .main{
      grid-column: 2;
      grid-row: 3;
      text-align: center;
    }
    .each {
      grid-column: 2;
      grid-row: 2;
    }
  </style>
</head>
<body>
<div class = "big">
  <div class = "menu">
    <a class = "one" href = "/channel/"><div>Channels</div></a>
    <a class = "two" href = "/user/"><div>Users</div></a>
  </div>
  <div class = "main">
    <% @users.each do |user| %>
      <div class = "each">
        <a class = "button" href = "/user/<%=user.id%>"><%=user.display_name%></a>
      </div>
      <br>
    <% end %>
  </div>
</div>
</body>


