<h1>Create a New Post</h1>
<form method="POST" action="/post">
    <div>
        <label>User</label>
        <input type="text" name="user">
    </div><br>
    
    <div>
        <label>Channel</label>
        <input type="text" name="channel">
    </div><br>

    <div>
        <label>Content</label>
        <input type="text" name="content">
    </div><br>

    <input type="submit">